@import '../../../scss/variables.scss';

.custom-field-container {
  margin: $app-base-margin-padding 0;
  display: flex;
  justify-content: space-between;
  select, input {
    font-size: $app-font-size-small;
    background-color: transparent;
  }
  select {
    cursor: pointer;
  }
  input {
    margin-left: $app-base-margin-padding;
  }
  &__delete {
    font-size: $app-font-size-small;
  }
}