.App {
  .header {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    background-color: #282c34;
    color: #ffffff;
    font-size: 20px;
    a {
      font-size: 20px;
      color: #ffffff;
    }
  }
}
