@import '../../scss/variables.scss';

.new-book {
  max-width: 720px;
  margin: auto;
  &__main-information {
    font-size: $app-font-size-medium;
    input, textarea {
      font-size: $app-font-size-small;
    }
    textarea {
      height: 110px;
      resize: none;
    }
  }

  &__additional-information {
    &_add-field {
      font-size: $app-font-size-medium;
    }
  }
  .new-book__save {
    padding: 5px $app-base-margin-padding;
    border: 1px solid $app-base-background-color;
    border-radius: $app-base-border-radius;
    font-size: $app-font-size-medium;
    transition: $app-base-animation;
    cursor: pointer;
    &:hover {
      background-color: $app-button-color-good;
    }    
  }  
}