@import '../../scss/variables.scss';

.new-book {
  max-width: 720px;
  margin: auto;
  .main-information { 
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    gap: 5px;
    font-size: $app-font-size-medium;
    input, textarea {
      padding: 5px;
      border: 1px solid $app-base-background-color;
      border-radius: $app-base-border-radius;
      font-size: $app-font-size-small;
    }
    textarea {
      height: 110px;
      resize: none;
    }
  }

  .additional-information {
    &_add-field {
      padding: 5px;
      border: 1px solid $app-base-background-color;
      width: fit-content;
      border-radius: $app-base-border-radius;
      font-size: $app-font-size-medium;
      transition: $app-base-animation;
      cursor: pointer;
      &:hover {
        border-color: #19a900;
        color: #19a900;
      }
    }
  }

  hr {
    margin: 20px auto;
    height: 1px;
    background-image: linear-gradient(to right, #ffffff00, $app-base-background-color, #ffffff00);
  }
}