.table {
  margin: auto;
  max-width: 1024px;
  width: 80vw;
  box-shadow: 10px 10px 20px #00000080;
  &__title, &__body_row {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    div {
      padding: 5px 0;
      border: 1px solid silver;
    }
  }
  &__title {
    div {
      text-align: center;
    }
  }
  &__body_row {
    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    transition: 200ms ease-in-out;
    &:hover {
      background-color: #e3e3e3;
    }
  }
}